.editScreen
  width: 100%
  height: 100%
  z-index: 10

  .editTitle
    margin-bottom: 5px
    padding: 10px
    width: 100%
    text-align: center
    background-color: #38698d
    color: #fff

  .editAddBtn
    cursor: pointer
    position: absolute
    color: #38698d
    background-color: rgba(56, 105, 141, 0.1)
    width: 100%
    text-align: center
    padding: 10px
    margin-top: 5px
    bottom: 0
    transition: .2s ease-in-out

    &:hover
      color: #fff
      font-size: 26px
      background-color: rgba(56, 105, 141, 1)

  .noteEditor
    position: fixed
    top: 80px
    padding: 10px
    width: 600px
    height: 595px

    background: aliceblue
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    textarea
      padding: 10px
      font-size: 20px
      font-family: inherit
      width: 100%
      height: 100%
      outline: none
      border: none
      resize: none

