@import '../../../_variables.sass'

.noteItemContainer
  width: 90%
  padding: 5px

.noteItem
  cursor: pointer
  overflow: hidden
  padding: 5px 10px
  width: 100%
  flex: none
  height: 65px
  background-color: $item
  color: $font
  //box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
  border-radius: 5px 20px
  display: flex
  align-items: flex-start
  justify-content: space-between
  transition: .2s
  border-bottom: 1px dotted $top

  &:hover
    background-color: $list
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
    transform: scale(1.05)

  button
    cursor: pointer
    margin: 15px
    background: transparent
    border: none
    font-size: 24px
    transition: .2s
    &:hover
      color: $red
      transform: scale(1.1)

  p
    width: 450px
    height: 55px

.tagsBlock li
  cursor: pointer
  background: $item
  border-radius: 50px
  display: inline-block
  padding: 2px 5px
  margin-right: 5px
  font-size: 10px
  transition: .2s
  &:hover
    background: $tags
    transform: scale(1.1)

ul
  float: left
  list-style-type: none
  text-decoration: none