@import '../../_variables.sass'

.footerAdd
  cursor: pointer
  position: sticky
  bottom: 0
  color: $top
  background-color: $item
  width: 100%
  text-align: center
  padding: 10px
  transition: .2s ease-in-out
  z-index: 10
  &:hover
    color: #fff
    font-size: 18px
    background-color: $top